
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(183, 187, 183);
    color: #000000;
    padding: 20px;
    margin-left: 210px;
    margin-right: 210px;
}

details summary{
    background-color: #333;
    padding: 10px;
    color: #fff;
}
summary{
    list-style: none;
    margin-bottom: 10px;
}
ul li{
    list-style-type: none;
}
ul{
    margin-bottom: 10px;
}

.container{
    max-width: 780px;
    margin: 0 auto;
}
figure{
    position: relative;
    margin-top: 10px;
}
figure figcaption{
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 60px;
    background-color: rgb(23, 23, 175);
    color: white;
    display: flex;
    align-items: center;
}
figure figcaption p{
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 2px;
    display:flex ;
    text-align: center;
    justify-content: center ;
    height: 30px;
    font-size: 14px;
    margin-left: 210px;
    margin-right: 210px;
}